<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810929549053-c1u9fe4c5okruacu5q9mt7s6tuddu12i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810929549053-c1u9fe4c5okruacu5q9mt7s6tuddu12i</string>
	<key>API_KEY</key>
	<string>AIzaSyBTgn5VBiQmhajspXo9epWjcMZMflZCz7g</string>
	<key>GCM_SENDER_ID</key>
	<string>810929549053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.punditv</string>
	<key>PROJECT_ID</key>
	<string>punditv-afaa5</string>
	<key>STORAGE_BUCKET</key>
	<string>punditv-afaa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810929549053:ios:f895f6d9a0f298cffd9894</string>
</dict>
</plist>